In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [3]:
df = pd.read_csv('covid_toy.csv')

In [4]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(df.drop(columns=['has_covid']), df['has_covid'], test_size=0.2)

In [6]:
X_train

    age  gender  fever   cough       city
79   48  Female  103.0    Mild    Kolkata
76   80    Male  100.0    Mild  Bangalore
1    27    Male  100.0    Mild      Delhi
62   56  Female  104.0  Strong  Bangalore
43   22  Female   99.0    Mild  Bangalore
..  ...     ...    ...     ...        ...
29   34  Female    NaN  Strong     Mumbai
27   33  Female  102.0  Strong      Delhi
58   23    Male   98.0  Strong     Mumbai
10   75  Female    NaN    Mild      Delhi
72   83  Female  101.0    Mild    Kolkata

[80 rows x 5 columns]

In [8]:
#replacing the null values in fever column
si = SimpleImputer()
X_train_fever = si.fit_transform(X_train[['fever']])

X_test_fever = si.fit_transform(X_test[['fever']])

# X_train_fever

In [9]:
#ordinal encoding for cough column
oe = OrdinalEncoder()
X_train_cough = oe.fit_transform(X_train[['cough']])

X_test_cough = oe.fit_transform(X_test[['cough']])

In [14]:
#ohe for gender and city
ohe = OneHotEncoder(drop='first',sparse_output=False)
X_train_gender_city = ohe.fit_transform(X_train[['gender','city']])
X_test_gender_city = ohe.fit_transform(X_test[['gender','city']])

In [15]:
#get age, rest are stored in seperate columns

X_train_age = X_train.drop(columns=['gender', 'city', 'cough', 'fever']).values

X_test_age = X_test.drop(columns=['gender', 'city', 'cough', 'fever']).values

In [19]:
X_train_concatenate = np.concatenate((X_train_age, X_train_fever, X_train_gender_city, X_train_cough), axis = 1)
X_test_concatenate = np.concatenate((X_test_age, X_test_fever, X_test_gender_city, X_test_cough), axis = 1)

In [20]:
X_train_concatenate.shape

(80, 7)

In [21]:
# Using column Tranformer
from sklearn.compose import ColumnTransformer

In [23]:
tranformer = ColumnTransformer(transformers=[
    ('transformer1', SimpleImputer(), ['fever']),
    ('tranformer2', OneHotEncoder(sparse_output=False, drop='first'), ['gender', 'city']),
    ('tranformer3', OrdinalEncoder(categories=[['Mild', 'Strong']]), ['cough'])
], remainder='passthrough')

In [26]:
tranformer.fit_transform(X_train).shape
tranformer.fit_transform(X_test).shape

(20, 7)